<%- include('../views/headers/header.ejs') %>

<h1><%= title %></h1>

<table class="table table-bordered table-hover">
<thead>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Ability</th>
        <th>Money</th>
        <th>Train</th>
    </tr>
</thead>
<tbody>
    <% for(var i = 0; i < results.length; i++) { %>
        <tr>
            <td><%= results[i].name %></td>
            <td><%= results[i].age %></td>
            <td><%= results[i].ability %></td>
            <td>$<%= results[i].money %>.99</td>
            <td><form action="" method="put" id="trainStudentForm" name="form2"><button id="train" class="btn btn-info" type="submit" value='Train <%= results[i].name %>'>Train <%= results[i].name %></button></form></td>
        </tr>
    <% }%>


</tbody>
</table>
<div id="training-result"><%= trainingResult %></div>
<div id="testAjax"></div>
<%- include('../views/footers/nonHomepageFooter.ejs') -%>
<%- include('../views/footers/footer.ejs') -%>